<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chatroom</title>
  <link rel="stylesheet" href="/master.css">
  <script defer src="http://localhost:8080/socket.io/socket.io.js"> </script>
  <script defer src="/script1.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
  <script src='https://meet.jit.si/external_api.js'></script>
</head>

<body>
  <div>
    <h1>This is the chatroom</h1>
    <div class="frame">
    </div>
    <div id="meet">welcome</div>
    
    
  </div>
</body>

</html>
